@import '../../../styling-properties.scss';

.rooms {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;

    p {
        text-align: center;
    }
}

.rooms> button {
    position: absolute;
    right: 0.1rem;
    height: 2.2rem;
    top: 0.3rem;
    display: flex;
    align-items: center;
}

.dropdowns {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    
    select {
        width: 50%;
    }
}

.buttons {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 99%;
    padding: 0.5rem;
    background-color: $background-color;
    margin-top: auto;
    >button {
        margin: 0.1rem 0;
        position: static ;
    }
  
}



@media (min-width: $min-width-media) {

    .buttons {
        flex-direction: row;
        button {
            width: 40% !important;
            margin: 0 2rem;
        }
    }

    .rooms:first-child button {
        right: 0.5rem;
        top: 0.5rem;

    }

    .dropdowns {
        width: 50%;
        position: static;

        select {
            width: 70%;
        }

    }

}
