@import '../../../styling-properties.scss';

.rooms {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.rooms-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dropdowns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 99%;
    padding: 0.5rem;
    background-color: $background-color;
    margin-top: auto;
    button {
        margin: 0.1rem 0;
    }
  
}

@media (min-width: $min-width-media) {
    .rooms-list {
        width: 70%;
    }

    .buttons {
        flex-direction: row;
        // bottom: 1rem;
        // padding: 1rem;
        button {
            width: 40% !important;
            margin: 0 2rem;
        }
    }
}
