@import '../../../../styling-properties.scss';

.amenity-card {
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: $main-border-radius;
    // min-width: 80%;
    min-width: 80%;
    max-width: 85%;
    padding: 1rem;
    box-shadow: $main-box-shadow;
    margin: 0.3rem 0rem;
    p {
        margin: 0;
        font-size: 1.5rem;
    }
    
    svg {
        margin-right: 0.8rem;
        font-size: 1.5rem;
    }

    .check{
        margin-left: auto;
    }

    &:hover {
        cursor: pointer;
        background: darken(white, 10%);;
    }

}