@import '../../../styling-properties.scss';

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



.register-group-input-fields {
    display: flex;
    flex-direction: column;
}

@media (min-width: $min-width-media) {
    .register-group-fields-wrapper{
        display: flex;
    }
}