@import '../../../styling-properties.scss';

.hotel-card {
    background: white;
    width:  95%;
    height: 15vh;
    display: flex;
    align-items: center;
    border-radius: $main-border-radius;
    margin: 0.5rem 0;

    .hotel-card-image__div {
        width: 60%;
        padding: 0.5rem;
        .hotel-card__image {
            width: 100%;
            border-radius: $main-border-radius;
        }
    }

    .hotel-card-info__div {
        width: 50%;
        h4 {
            margin: auto;
        }

        p {
            margin:  0.4rem 0;
            max-width: 0.2rem;
        }

            }


    .hotel-card-info-email, .hotel-card-info-address {
        display: flex;
        align-items: center;
        overflow: hidden;
        // text-overflow: ellipsis;      //TODO: Make text-overflow actually work
        svg {
            margin-right: 0.3rem;
            color: $main-color;
        }

        // p {
        //     text-wrap: nowrap;
        // }
    }
    
    @media (min-width: $min-width-media){

        height: 20vh;
        font-size: 1.2rem;
        
        .hotel-card-image__div {
            width: 19%;
            padding: 0.5rem;
        }
        .hotel-card-info-email, .hotel-card-info-address {
                p{
                    text-wrap: nowrap;
                }
        }

        .hotel-card-info__div {
            margin-left: auto;
            text-align: left;
        }

    }

}

