@import '../../../styling-properties.scss';

.input-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    align-items: center;
    padding: 0.4rem;
    width: 100%;
}

.input-field {
    margin-bottom: 1.5rem;
    margin-top: 0.4rem;
    height: 1.8rem ;
    width: 35vw;
    max-width: 100%;
    border-radius: $main-border-radius ;
    border: none;
    border: 1px solid black;
    text-align: center;
    box-shadow: $main-box-shadow;

}

.error-message {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: 60%;
    width: 170%;
    // width: 80vw;
    text-wrap: wrap;
}

@media (min-width: $min-width-media) {
    .input-field {
        margin-bottom: 2rem;
        width: 15vw;
    }

    .error-message {
        top: 60%;
        // width: 20vw;
    }
}