.toggle {
    position: relative;
    background: red;
    height: 1.3rem;
    width: 3rem;
    display: inline-block;
    

    .slider {
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;

         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
        padding: 4px;
         background-color: #ccc ;
    }

    .slider::before {
        position: absolute;
        content: '';
        // height: 0.8rem;
        height: 70%;
        width: 50%;
        // left: 4px;
        // margin: 4px;
        background-color: white;
    }
    
    >input {
       opacity: 0;
       width: 0;
       height: 0;
    }

    >input:checked + .slider::before {
        transform: translateX(100%);
       margin-right: 4px;
    }
}

