@import '../../../../styling-properties.scss';


.day-card {
    margin: 0 0.2rem;
    padding: 0.8rem;
    position: relative;
    height: 10%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $main-border-radius;
    &:hover {
        background: $main-color;
        color:white;
        cursor: pointer;
        
    }
}

.selected {
    background: $main-color;
    color: white;
    &:hover {
        cursor: default;
    }
}

.is-booked {
    background: red;
    &:hover {
        color:$main-color-text;
        background:red;

    }
}

.has-passed {
    background: gray;
    &:hover {
        background:gray;
        color:$main-color-text;
        cursor: not-allowed;
    }
}


.highlighted {
    background: $background-color;   
}

.click-bubble {
    z-index: 1;
    position: absolute;
    font-size: 0.8rem;
    min-width: 130%;
    margin-bottom: 5rem;
    background: black;
    color: white;
    border-radius: $main-border-radius;
    text-align: center;
    padding: 0.3rem;
}

@media (min-width: $min-width-media ) {
    .day-card {
        width: 9%;
    }
}