@import '../../../styling-properties.scss';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    
}

.room-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: relative;

    >button {
        position: sticky;
        bottom: 1rem;
    }
    // overflow: hidden;
}

.edit-button {
    margin-top: 1rem;
}

.amenities {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.info {
    background: white;
    width: 93%;
    min-height: 30%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: $main-border-radius;
        align-items: center;
        display: flex;
    flex-direction: column;
    p{
        margin: 0.3rem 0;
        margin-left: 0.3rem;
    }
    >button {
    //    position: absolute;
    }
}

@media (min-width:$min-width-media ){
    .info{
        width: 25%;
        min-height: 35%;
        >button {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }

    .edit-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .amenities {
        flex-direction: row;
        width: 80%;
        flex-wrap: wrap;
    }
}

