@import '../../../styling-properties.scss';

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    pointer-events: none;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: $main-color;
    border-radius: 50%;
    // width: 12vw;
    // height: 12vw;|
    width: 12vw;
    height: 12vw;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @media (min-width: $min-width-media) {
    .spinner {
        height: 4vw;
        width: 4vw;
    }
  }