.other {
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.other-amenities{
    margin-bottom: 1rem;

}
.amenity-modal {
    button {
        margin-bottom: 1rem;
    }
}