@import '../../../../styling-properties.scss';

.room-item {
    // border: 1px black solid;
    font-size: 0.6rem;
    display: flex;
    // align-items: center;
    justify-content: center;
    background: white;
    height: 3rem;
    width: 3.3rem;
    margin: 0.5rem 0.5rem;
    border: 1px solid $main-color;
    border-radius: $main-border-radius;

    &:hover {
        background: darken(white, 10%);
        color: $main-color;
        cursor: pointer;
    }
}