@import '../../../styling-properties.scss';

.shared-button {
    background:linear-gradient(to bottom left, $main-color 40%, #9a59a8); ;
    // background: $main-color ;
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    // width: 10rem;
    // width: 60%;
    height: 2.5rem;
    border-radius: $main-border-radius;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;

    &:hover {
        background: white;
        color: $main-color;
        border: 1px solid $main-color;
        cursor: pointer;
    }
}