@import '../../../styling-properties.scss';

.shared-button {
    background:linear-gradient(to bottom left, $main-color 40%, #9a59a8); ;
    border: none;
    color: white;
    padding: 0.5rem;
    height: 2.5rem;
    border-radius: $main-border-radius;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    box-shadow: $main-box-shadow;

    &:hover {
        background: white;
        color: $main-color;
        outline: 1px solid $main-color;
        cursor: pointer;
    }
}