@import '../../../styling-properties.scss';

.tab {
    background: white;
    border-radius: $main-border-radius;
    border: none;
    color: black;
    width: 80%;
    height: 1.8rem;
    margin: 0.5rem 0;
    box-shadow: $main-box-shadow;
}