@import '../../styling-properties.scss';


.sidebar-backdrop {
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &.closed {
        opacity: 0;
      }
}

.sideBar {
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    overflow-y:scroll;

    .hotelImage-container{
        width: 7rem;
        min-height: 7rem;
        border: 1px black solid;
        margin-top: 1rem;
        border-radius: $main-border-radius;

    }


    .sideBar-list{
        list-style: none; 
        padding: 0;

        li {
            margin: 5rem 0;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: $main-color-text;
            font-size: 1.5rem;

            &:hover {
                color: $main-color;
            }
        }
    }
}

.navigation-button{
    position: fixed;
    top: 0;
    width: $side-nav-width-mobile;
    color: $main-color;
    font-weight: 800;
    font-size: 3.3rem;
    border: none;
    height: 100vh;
    z-index: 2;
    right: 0;
    // transition: right 0.3s ease; /* Transition property */


    &:hover {
        background: darken( #f0f0f0, 30%);
        cursor: pointer;
    }

    // &.navigation-button-opened{
    //     right: 40vw;
    //   }
    &.navigation-button-closed {
        right: 0;
      }
}

.log-out__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    .log-out {
    color: #ff0000 !important;
    padding: 0.5rem;
    }
}


@media (min-width: $min-width-media) {
    .sideBar {
        width: 15vw
    }

    .navigation-button{
        width: $side-nav-width-pc;
        // &.navigation-button-opened{
        //     right: 15vw;
        //   }
    }

}