$main-color: #4844bf;
$secondary-color: #252525cc  ;
$main-color-text: white;
$main-font:'Fira sans', sans-serif;
$margin-between-header: 4rem;
$footer-height: 5vh;
$main-border-radius: 0.4rem;
$min-width-media: 55rem;