$main-color: #4844bf;
$secondary-color: #252525cc  ;
$background-color: #b8b7c9;
$main-color-text: black;
$main-font:'Fira sans', sans-serif;
$main-border-radius: 15px;
$min-width-media: 55rem;
$side-nav-width-mobile: 10vw;
$side-nav-width-pc: 5vw;
$main-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);